{% extends 'base.html' %}
{% block content %}
<!-- Header-->
<header class="bg-dark py-3">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About US...</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to GalacticQuest!</p>
        </div>
    </div>
</header>

<div class="container" >
    <div class="row">
        <center>
            <div class="col-8">
                <br/><br/>
<h3><p align="justify" style="color: antiquewhite;">
Welcome to <bold>GalacticQuest</bold> -Embark on a journey to a galaxy far, far away, where the Force awakens and destinies collide in the Star Wars universe.
<br/><br/>
Step into the boundless expanse of GalacticQuest, where the timeless saga of Star Wars comes to life in vivid detail. Here, amidst the swirling nebulae and distant star systems, you'll find a universe teeming with adventure, intrigue, and wonder. Our platform serves as a gateway to the rich tapestry of stories woven throughout the galaxy, inviting fans of all ages to immerse themselves in the lore and legend of this iconic franchise.
<br/><br/>
Join us as we embark on an adventure across the stars, where the destiny of galaxies awaits. May the Force be with you.
</p>
</h3>

<br/><br/>
            </div>
        </center>
    </div>
</div>







{% endblock %}
